/*html, body, button, input, select, textarea, li, p, table, h1, h2, h3, .masthead p, .subhead p, .marketing h2, .lead {*/
/*font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;*/
/*font-weight: normal;*/
/*}*/

body {
  background-color: #343434;
  padding-top: 51px;
}

a {
  color: #3E62A6;
}

.hello {
  background-color: #fff;
  padding: 20px 0;
  min-height: 480px;
}

footer {
  color: #bbb;
}

footer a {
  color: #eee;
}

footer a:hover {
  coloc: #d9edf7;
}

footer .support {
  background-color: #454545;
}

.space-5, .space-10, .space-10, .space-20, .space-50 {
  overflow: hidden;
  clear: both;
}

.space-10 {
  height: 10px;
}

.space-5 {
  height: 5px;
}

.space-15 {
  height: 15px;
}

.space-20 {
  height: 20px;
}

.space-50 {
  height: 50px;
}

.nav-inline {
}

.nav-inline > li {
  float: left;
}

.hello-console {
  border-top: 2px solid #ccc;
  padding: 5px 0;
  background-color: #fff;
}

.hello-container {

}

.hello-container .app {
  float: left;
  margin: 10px 0px 10px 20px;
  width: 96px;
  height: 96px;
  text-decoration: none;
  background-position: center top;
  padding: 1px;
  color: #000;
}

.hello-container .app .msg {
  height: 72px;
}

.hello-container .app .name {
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.app ul {
  list-style: none;
  margin: 5px 0 0 0;
}

.app-danger,
.app-default,
.app-info,
.app-success,
.app-warning {
  color: #fff !important;
}

.app-warning {
  background-color: #F89C18;
}

.app-warning:hover {
  box-shadow: 0px 0px 5px #F89C18;
  text-shadow: 0px 0px 5px #ccc;
}

.app-default {
  background-color: #999;
}

.app-default:hover {
  box-shadow: 0px 0px 5px #999;
  text-shadow: 0px 0px 5px #ccc;
}

.app-info {
  background-color: #5bc0de;
}

.app-info:hover {
  box-shadow: 0px 0px 5px #5bc0de;
  text-shadow: 0px 0px 5px #ccc;
}

.app-success {
  background-color: #5cb85c;
}

.app-success:hover {
  box-shadow: 0px 0px 5px #5cb85c;
  text-shadow: 0px 0px 5px #ccc;
}

.app-danger {
  background-color: #d9534f;
}

.app-danger:hover {
  box-shadow: 0px 0px 5px #d9534f;
  text-shadow: 0px 0px 5px #ccc;
}

.y-chat-li {
  padding: 3px 0;
  border-bottom: 1px dashed #ccc;
}

.y-chat-li .portrait,
.y-chat-li .body {
  float: left;
  padding-top: 3px;
  position: relative;
}

.y-chat-li .portrait {
  width: 45px;
}

.y-chat-li .portrait img {
  width: 32px;
  height: 32px;
}

.y-chat-li .body .text-muted {
  font-size: small;
}

@media (min-width: 768px) {
  .y-chat-li .body {
    width: 112px;
  }
}

@media (min-width: 992px) {
  .y-chat-li .body {
    width: 167px;
  }
}

@media (min-width: 1200px) {
  .y-chat-li .body {
    width: 217px;
  }
}

